
.sidenav {
  height: 50%;
  width: auto;
  position: fixed;
  z-index: 1;
  
  left: 0;
  background-color: #134;
  overflow-x: hidden;
  padding: 10px 20px 0px 50px;
}


.sidenav a {
  padding: 6px 8px 20px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}